<template>
	<el-table
		:data="items"
		stripe
		style="width: 100%">
		<el-table-column
			prop="name"
			label="Name"
			width="180">
			<template slot-scope="scope">
				<el-input v-if="scope.row.id != undefined" placeholder="Item Name" v-model="scope.row.name" @keyup.enter.native="updateItem(scope.row)">
				</el-input>
				<el-input v-else placeholder="Item Name" v-model="item.name" @keyup.enter.native="addItem">
				</el-input>
			</template>
		</el-table-column>
		<el-table-column
			prop="item_type"
			label="Type">
			<template slot-scope="scope">
				<el-input v-if="scope.row.id != undefined" placeholder="Item Type" v-model="scope.row.item_type" @keyup.enter.native="updateItem(scope.row)">
				</el-input>
				<el-input v-else placeholder="Item Type" v-model="item.item_type" @keyup.enter.native="addItem">
				</el-input>
			</template>
		</el-table-column>
		<el-table-column
			prop="cost"
			label="Cost"
			width="180">
			<template slot-scope="scope">
				<el-input v-if="scope.row.id != undefined" placeholder="Cost" v-model="scope.row.cost" @keyup.enter.native="updateItem(scope.row)">
				</el-input>
				<el-input v-else placeholder="Cost" v-model="item.cost" @keyup.enter.native="addItem">
				</el-input>
			</template>
		</el-table-column>
		<el-table-column
			prop="qty"
			label="Qty">
			<template slot-scope="scope">
				<el-input v-if="scope.row.id != undefined" placeholder="Qty" v-model="scope.row.qty" @keyup.enter.native="updateItem(scope.row)">
				</el-input>
				<el-input v-else placeholder="Qty." v-model="item.qty" @keyup.enter.native="addItem">
				</el-input>
			</template>
		</el-table-column>
		<el-table-column
			prop="total_cost"
			label="Total">
			<template slot-scope="scope">
				<el-input v-if="scope.row.id != undefined" :disabled="true" placeholder="Total" v-model="scope.row.total_cost">
				</el-input>
			</template>
		</el-table-column>
		<el-table-column 
			fixed="right"
			label="Operations"
			width="220">
			<template slot-scope="props">
				<el-button-group v-if="props.row.id != undefined">
					<button @click="updateItem(props.row)" class="el-button el-button--primary el-icon-edit" type="button"></button>
					<button @click="deleteItem(props.row.receipt_id,props.row.id)" class="el-button el-button--danger el-icon-delete" type="button"></button>
				</el-button-group>
				<el-button-group v-else>
					<button @click="addItem" type="button" class="el-button el-button--success el-icon-plus"></button>
				</el-button-group>
			</template>
			</template>
		</el-table-column>
	</el-table>
</template>
