<p id="notice"><%= notice %></p>

<h1>Items</h1>

<%= link_to 'Receipts', receipts_path %>

<div id="items">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Qty</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <tr>
		  <td>
			  <el-input type="text" placeholder="Item Name" v-model="item.name">
			  </el-input>
		  </td>
		  <td>
			  <el-input type="text" placeholder="Cost" v-model="item.cost">
			  </el-input>
		  </td>
		  <td>
			  <el-input type="text" placeholder="Qty." v-model="item.qty">
			  </el-input>
		  </td>
		  <td>
			  <el-input type="text" placeholder="Item Type" v-model="item.item_type">
			  </el-input>
		  </td>
		  <td>
			  <div class="el-button-group">
				  <button @click="addItem" type="button" class="el-button el-button--success el-icon-plus"></button>
			  </div>
		  </td>
	  </tr>
  </tbody>
</table>
	<%= render 'items/item_template' %>
</div>
