<script type="text/x-template" id="receipt-row">
  <tr>
    <td>{{ receipt.purchase_date }}</td>
    <td>{{ receipt.store }}</td>
    <td>{{ receipt.tax }}</td>
    <td>{{ receipt.total }}</td>
	<td>
		<div class="el-button-group">
			<button class="el-button el-button--info el-icon-tickets" type="button"></button>
			<button class="el-button el-button--primary el-icon-edit" type="button"></button>
			<button class="el-button el-button--danger el-icon-delete" type="button"></button>
		</div>
	</td>
  </tr>
</script>

