<div id="items">
	<h2>
	  <strong>Store:</strong>
	  {{ receipt.store }}
	  <strong>Purchase date:</strong>
	  {{ receipt.purchase_date }}
	  <strong>Tax:</strong>
	  {{ receipt.tax }}
	  <strong>Total:</strong>
	  {{ receipt.total }}
	</h2>
	<h3>Items</h3>

	<%= link_to 'Receipts', receipts_path %>
	<%= render 'items/item_template' %>
	<div>{{ receipt.subtotal }}</div>
	<div>{{ receipt.tax }}</div>
	<div>{{ receipt.total }}</div>
	<div v-if="receipt.check_total">Valid!</div>
	<div v-else>Invalid!</div>
</div>
